[Unit]
Description=Vulcan Test

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /vulcand/backends/b1/servers/%H '{ \"URL\": \"http://${HOST_IP}:80\"}' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/b1/servers/%H

[X-Fleet]
Global=true
MachineMetadata=role=worker
