#cloud-config

hostname: {{ .Name }}
coreos:
  fleet:
    metadata: "role={{ .Lease.Class }}"
    etcd_servers: "{{ range $index , $element := .Cluster.etcd.Leases}}{{ if $index}},{{end}}http://{{ $element.IP }}:2379/{{ end }}"
  units:
    - name: etcd2.service
      mask: true
    - name: fleet.service
      command: start
    - name: get_keys.service
      command: start
      content: |
        [Unit]
        After=rkt-metadata.service
        Requires=rkt-metadata.service
        [Service]
        Type=oneshot
        ExecStart=/bin/sh -c "/usr/bin/echo yes | sudo /usr/bin/rkt trust --insecure-allow-http --prefix=astralboot http://{{ .BaseIP }}/rocket/astral.gpg"
write_files:
  - path: /etc/environment
    permissions: 0644
    owner: core
    content: |
      # configure etcdctl to work with our etcd servers set above
      ETCDCTL_PEERS={{ range $index , $element :=.Cluster.etcd.Leases}}{{ if $index}},{{end}}http://{{ $element.IP }}:2379/{{ end }}
      HOST_IP={{.IP}}
  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure etcdctl to work with our etcd servers set above
      export ETCDCTL_PEERS="{{ range $index , $element :=.Cluster.etcd.Leases}}{{ if $index}},{{end}}http://{{ $element.IP }}:2379/{{ end }}"
  - path: /etc/profile.d/fleetctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure fleetctl to work with our etcd servers set above
      export FLEETCTL_ENDPOINT=unix:///var/run/fleet.sock
      export FLEETCTL_EXPERIMENTAL_API=true
