#!ipxe{{ $serverIP := .BaseIP }}

kernel http://{{ $serverIP }}/image/coreos/coreos_production_pxe.vmlinuz cloud-config-url=http://{{ $serverIP }}/config/coreos/cloud
initrd http://{{ $serverIP }}/image/coreos/coreos_production_pxe_image.cpio.gz
boot

